/* Reset default margins and paddings for consistency */
body,
ul {
	margin: 0;
	padding: 0;
}


body {
	font-family: "Lato", serif;
	background-color: white; /* Black background */
	color: black; /* White text for contrast */
	margin: 0;
	padding: 0;
}

.homepage-bulletpoints {
	margin: 2% 10% 2%;
	padding: 2px;
	font-size: clamp(1rem, 2vw, 2rem);
}

.masonry {
	column-gap: 10px; /* Space between columns */
	margin: 10%;
}

.masonry-item {
	break-inside: avoid; /* Avoid breaking the item */
	margin-bottom: 20px; /* Space between rows */
	position: relative;
	overflow: hidden;
}

.masonry-item img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease;
}

.masonry-item:hover img {
    transform: scale(1.05);
}

.masonry-item .description {
    position: absolute;
    top: 0; /* Align at the top */
    left: 0; /* Align to the left */
    right: 0; /* Align to the right */
    bottom: 0; /* Align at the bottom */
	display: flex; /* Use flexbox to center the text */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent background */
    color: white;
    padding: 20px;
    display: none; /* Hide description by default */
    font-size: 20px;
	font-family: "Lato", serif;
}

.masonry-item:hover .description {
    display: block; /* Show description on hover */
}


.about-container {
	display: flex;
	align-items: center;
	justify-content: center; /* Centers the content inside the container */
	margin: 0 auto; /* Centers the container itself horizontally */
	max-width: 1200px; /* Optional: set a width limit */
	width: 100%; /* Ensure it spans its container */
}

@media (max-width: 750px) {
	.about-container {
		flex-direction: column;
	}
}

.about-left-column {
	flex: 1; /* Adjust flex value as needed */
	padding: 5%;
	font-size: 18px;
}

.about-content h1 {
	text-align: left;
}

.about-content {
	display: flex;
	flex-direction: column;
	flex: 1;
	width: 90%;
	line-height: 1.6;
}

.about-right-column {
	flex: 1;
	flex-direction: column;
  background-color: grey;
  width: 100%;
  height: 100%;
}

.about-image {
	max-width: 100%; /* Responsive image */
	height: auto; /* Maintain aspect ratio */
  background-color: grey;
  display: flex;
  align-items: center;
}

.sales-content {
	display: flex;
  flex-direction: column;
  align-items: center;
}

.sales-columm {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sales-columm ul {
  list-style: none;
  width: 100%;
}

.sales-columm h4 {
  width: 100%;
}

input[type="text"],
input[type="email"],
select,
textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid black; /* Gray border */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical;
	font-family: "Lato", serif;
}

/* Style the submit button with a specific background color etc */
input[type="submit"] {
  background-color: black;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
	font-family: "Lato", serif;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type="submit"]:hover {
  background-color: grey;
}

/* Add a background color and some padding around the form */
.contact-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  border-radius: 5px;
  background-color: white;
  padding: 20px;
  align-content: space-around;
}

.contact-text {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 20px;
  font-family: "Lato", serif;
}

.contact-container > form {
  max-width: 50%;
}

@media (max-width: 750px) {
  .contact-container > form {
    max-width: 90%;
  }
}

.thankyou-text {
  padding: 5%;
  text-align: center;
  font-family: "Lato", serif;
}

.thankyou-text > button {
  background-color: white;
  color: black;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
	font-family: "Lato", serif;
}

.thankyou-text a {
  color: black;
  font-family: "Lato", serif;
}

.thankyou-text > button:hover {
  background-color: grey;
  font-family: "Lato", serif;
}


a {
    color: black;
}


/* Style the dropdown */
#categoryFilter {
  padding: 10px 10px; /* Smaller padding for a compact look */
  font-size: 18px; /* Smaller text */
  border: 1px solid black; /* Optional: Add border for clarity */
  border-radius: 5px; /* Optional: Rounded corners */
  background-color: white; /* Optional: Background color */
  max-width: 30%;
	font-family: "Lato", serif;
}

/* Position the dropdown on the left side of the page */
#categoryFilter {
  left: 100px; /* Position it 20px from the left */
  z-index: 100; /* Ensure it stays above other elements */
}

/* Optional: You can add some padding to the body to account for the fixed position */
body {
  padding-left: 100px; /* Adjust the page content so it doesn’t overlap with the dropdown */
}
