<!DOCTYPE html>

<link rel="stylesheet" href="Templates/mobile-nav-styles.css" />
<nav class="mobile-nav">
	<div class="mobile-nav-header">
		<span class="menu-toggle">&#9776;</span>
		<!-- Hamburger menu icon -->
		<a href="index.html" class="logo">
			<img src="Images\Icon.ico" alt="Logo" class="icon" />
		</a>
	</div>
	<ul class="mobile-nav-list" id="nav-list">
		<li><a href="index.html">Home</a></li>
		<li><a href="about.html">About</a></li>

		<li class="dropdown">
			<ul class="dropdown-toggle">Art</ul>
			<ul class="dropdown-menu">
				<li><a href="#">The Garden</a></li>
				<li><a href="#">People</a></li>
				<li><a href="#">Animals</a></li>
				<li><a href="#">Places</a></li>
                <li><a href="#">Other</a></li>
			</ul>
		</li>

		<li><a href="sale-photocopies.html">Sales - Photocopies</a></li>
		<li><a href="contact.html">Contact</a></li>
	</ul>
</nav>
