nav {
    background-color: white;
    padding: 1em 0; /* Space above and below the nav content */
    border-bottom: 1px solid #ccc; /* Grey line under the nav */
    text-align: center; /* Center-align text/content inside the nav */
    box-sizing: border-box; /* Include padding and border in the element's dimensions */
}


  
  nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
  }
  
  nav ul li {
	display: inline-block;
	position: relative; /* Needed for positioning dropdowns */
	font-size: 20px;
	margin: 0 15px;
  }
  
  nav ul li a {
	color: black;
	text-decoration: none;
	font-size: 20px;
	padding: 1em 0; /* Add padding to align with dropdowns */
	display: block;
  }
  
  nav ul li a:hover {
	text-decoration: underline;
  }

  nav h1, .nav-title {
	font-family: "Lora", serif;
	text-align: center;
	color: black;
	font-size: 4rem
  }

  h1 a {
	text-decoration: none;
	color: inherit; /* Optional: Use the inherited color for the link */
}

